  <!DOCTYPE html>
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
<html>
    <head>
        <title>Acerca de</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <!--Optional theme--> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="estilosAcercade.css" >

    </head>
    <body>            
        <nav class="navbar navbar-default margenCabecera" role="navigation">      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                      data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">                     
                        <li><img src="imagenes/cabecera.png" class="center-block img-responsive img-rounded" alt="Imagen responsive"></li>
                        <li><a href="index.php">Inicio</a></li>
                        <li><a href="index.php?accion=contacto&id=1">Contacto</a></li>
                        <li class="active"><a href="index.php?accion=acercade&id=1">¿Quienes somos?</a></li>                    
                    </ul>
                </div>
            </div>
        </nav>
        <div class="cabecera">            
            <p>¿Quienes Somos?</p>                            
        </div>          
        <div class="container">
                <div class="panel panel-warning">
                    <div class="panel-heading"><b>Nosotros</b></div>
                        <div class="panel-body">
                            <p>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus orci eget magna dapibus, eget sollicitudin lacus euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc placerat, eros non dapibus bibendum, arcu metus ornare lacus, sed fermentum lectus felis sed turpis. Praesent dui est, placerat ut massa ac, suscipit dapibus augue. Aenean quis porttitor eros, vel sollicitudin nibh. Phasellus eu magna sit amet augue dapibus eleifend vel auctor ante. Aliquam eget lacinia purus, et venenatis nisl. Nunc ultrices sagittis nisl, a aliquet justo finibus consequat. Proin cursus, odio et dapibus fringilla, risus tortor consectetur mauris, ut posuere odio erat et lectus. Aenean luctus, neque quis facilisis hendrerit, nunc turpis tempus justo, ut pretium risus est id metus                                
                            </p>
                            <br/>
                            <p>
                               Ut pharetra convallis purus, sit amet mollis ante finibus nec. Nam aliquet diam id dolor sollicitudin varius. Vestibulum finibus varius neque ac eleifend. Nulla facilisi. Morbi lobortis felis nec ante maximus, nec pellentesque elit imperdiet. Ut ac mi in nisl scelerisque auctor. Pellentesque tristique sollicitudin lacus, a consequat augue faucibus quis. Integer felis turpis, pulvinar ut tellus ut, fermentum ultrices dolor. Mauris nec ipsum ut diam fringilla semper sit amet eu libero. Praesent eget arcu bibendum, venenatis orci id, consectetur arcu. Praesent enim orci, tincidunt et leo at, mollis ultricies purus. Maecenas mattis vestibulum purus, scelerisque feugiat nibh consequat vitae. Morbi eu risus ac justo vehicula elementum. Proin ac fermentum tellus. 
                            </p>
                            <br/>
                            <p>
                               Integer ligula nisi, euismod quis nisi non, tempor volutpat arcu. Pellentesque pretium imperdiet nulla vel vehicula. Nullam lacinia felis dictum placerat sodales. Vivamus sit amet molestie enim, id tincidunt mauris. Morbi scelerisque turpis ligula, a interdum felis mattis eget. Aliquam erat volutpat. Donec eu congue metus. Ut ultricies neque eu sem congue, vel rhoncus libero porttitor. Nulla scelerisque eros ac varius posuere. Mauris vel pretium eros, varius dignissim nulla. In ultrices neque neque, id cursus diam varius sed. Aliquam erat volutpat. 
                            </p><br/><br/><br/>                                     
                        </div>                                
                </div>
        </div>
        <div class="tvideo">
            <p><b>Aprovecha nuestra ventaja</b></p>
        </div>
        <div class="video" >
            <div class="embed-responsive embed-responsive-16by9 center-block ">        
                <video autoplay loop class="embed-responsive-item">                   
                    <source src="video/video.mp4" type=video/mp4>
                </video>
            </div>
        </div>
        <footer class="footer navbar-bottom" >
                <div class="pie">
                    <p class="text-muted margen text-center"><span>© Park-Eat 2015</span></p>
                </div>
        </footer>
    </body>
</html>
