<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Park-Eat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="templates/buscar_por_restaurante.css" />
    </head>
    <body>
        <nav class="navbar navbar-default margenCabecera" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Park-Eat</a>
            </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php">Inicio</a></li>
                    <li><a href="templates/contacto.html">Contacto</a></li>
                    <li><a href="templates/acercade.html">¿Quienes somos?</a></li>
                </ul>
            
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php?accion=login&id=1">Log In</a></li>
                    <li><a href="index.php?accion=registro&id=1">Regístrate</a></li>
                </ul>
            </div>
        </nav>
        <form class="col-lg-offset-1" id="formularioRegistro" method="Post" action="index.php" >
            <h2 class="center-block">
                ¿que restaurante desea consultar?
            </h2>
            <br><br><br>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Elija el resturante
                    <span class="caret"></span>
                </button>
                
                <ul class="dropdown-menu" role="menu">
                    ##linea##
                    <li><a href="#">##Restaurante##</a></li>
                    ##linea##
                    <li class="divider"></li>
                </ul>
                <br><br><br><br>
                Deja tu comentario:
                <textarea class="form-control" rows="5"></textarea>
            </div>
            
            

        </form>
        <footer class="footer navbar-fixed-bottom" >
            <div class="container">
                <p class="text-muted margen text-center"><span>© Park-Eat 2015</span></p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>