<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Park-Eat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="templates/estilosBuscar_por_restaurante.css" />
        <script>
                        
            function conexion()
            {
                if (window.ActiveXObject)
                {
                    con = new ActiveXObject("Microsoft.XMLHTTP");
                }
                else
                {
                    if (window.XMLHttpRequest)
                    {
                            con = new XMLHttpRequest();
                    }
                }
            }
            
            function obtenervaloracionesrestaurante()
            {
                conexion();
                con.onreadystatechange = respuestavaloracionrestaurante;
                var dir = "index.php?accion=valoracion&id=2&restaurante="+ document.getElementById("restaurantes").value + "&variable=" + Math.random();
                con.open("GET", dir, true);
                con.send(null);
            }
            
            function respuestavaloracionrestaurante()
            {
                if (con.readyState == 4)
                {
                    if (con.status == 200)
                    {
                        var array = con.responseText;
                        document.getElementById("opinion").innerHTML = array;
                    }
                }
            }
            
            function validarFormulario(formularioComentario)
            {
                    alert("hola");
                var Comentario = formularioComentario.Comentario.value;   
                if(Comentario == "")
                {
                    formularioComentario.Comentario.focus();
                    alert("Debes introducir un comentario.");
                    return false;
                }

                var TipoVisita = formularioComentario.TipoVisita.value;
                if(TipoVisita == "")
                {
                    formularioComentario.TipoVisita.focus();
                    alert("Debes introducir el tipo de visita.");
                    return false;
                }

                var Motivo = formularioComentario.Motivo.value;
                if(Motivo == "")
                {
                    formularioComentario.Motivo.focus();
                    alert("Debes introducir el motivo.");
                    return false;
                }

                var PuntuacionGeneral = formularioComentario.PuntuacionGeneral.value;
                if(PuntuacionGeneral == "")
                {
                    formularioComentario.PuntuacionGeneral.focus();
                    alert("Introduce la puntuacion general de restaurante.");
                    return false;
                }
                
                var Servicio = formularioComentario.Servicio.value;
                if(Servicio == "")
                {
                    formularioComentario.Servicio.focus();
                    alert("Introduce el servicio recibido en el restaurante.");
                    return false;
                }
                
                var Comida = formularioComentario.Comida.value;
                if(Comida == "")
                {
                    formularioComentario.Comida.focus();
                    alert("Introduce la puntuacion sobre la comida del restaurante.");
                    return false;
                }
                
                var RelacionCalidaPrecio = formularioComentario.RelacionCalidaPrecio.value;
                if(RelacionCalidaPrecio == "")
                {
                    formularioComentario.RelacionCalidaPrecio.focus();
                    alert("Introduce la relacion calidad precio del restaurante.");
                    return false;
                }

                return true;
            }
        
        
        </script>   
    </head>
     
    <body>
        <nav class="navbar navbar-default margenCabecera" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Park-Eat</a>
            </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php?accion=menu&id=1">Inicio</a></li>
                    <li class="active"><a href="index.php?accion=valoracion&id=1">Valoraciones</a></li>
                    <li><a href="index.php?accion=contacto&id=1">Contacto</a></li>
                </ul>
            
                <div class="btn-group pull-right">
                    <button type="button" id="botondesconectar" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    ##nombre## <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="index.php?accion=perfil&id=1">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="index.php?accion=logout&id=1">Desconectar</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="titulo">
            <h2>
                ¿Qué restaurante desea consultar?
            </h2>
            <hr>
            <br>
            <div class="btn-group">                
                <p><b>Elija el restaurante que desee ver su valoracion o escribir un comentario:</b></p><br><br>
                
                <select id="restaurantes" onchange="obtenervaloracionesrestaurante()">
                    <option>Elija una opcion...</option>
                    ##linea##
                    <option value="##idRestaurante##">##Restaurante##</option>
                    ##linea##
                </select>
                
            </div>
            <br><br><br>
            <div id="opinion">
                
            </div>     
        </div>
        <footer class="footer navbar-fixed-bottom" >
            <div class="container">
                <p class="text-muted margen text-center"><span>© Park-Eat 2015</span></p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>