<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        ##linea##
        <div>
            <h2>##NombreRestaurante##</h2>
            
            <h4>##NombreUsuario##</h4>
            
            <h5>##PuntuacionGeneral##</h5>
            <h5>##Comentario##</h5>
            <h5>##TipoVisita##</h5>
            <h5>##Motivo##</h5>
            <h5>##Fecha##</h5>
            <h5>##Servicio##</h5>
            <h5>##Comida##</h5>
            <h5>##RelacionCalidadPrecio##</h5>
            <h5>##PlatosRecomendados##</h5>
        </div>
        ##linea##
    </body>
</html>
