<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="templates/estilosComentarios.css" />
    </head>
    <body>
        <br/>
        <form  id="formularioComentario" method="Post" action="index.php" class="col-lg-8" onsubmit="return validarFormulario(this);">
            <label for="Comentario">Comentario*:</label>
            <input type="text"  name="Comentario" class="form-control"  id="Comentario"/>

            <br /><br />
            
            <label for="TipoVisita">Tipo Visita*:</label>
            <input type="text"  name="TipoVisita" class="form-control" id="TipoVisita"/>

            <br /><br />
            
            <label for="Motivo">Motivo*:</label>
            <input type="text"  name="Motivo" class="form-control" id="Motivo"/>

            <br /><br />
            
            <label for="PlatosRecomendables">Platos Recomendables:</label>
            <input type="text"  name="PlatosRecomendables" class="form-control" id="PlatosRecomendables"/>
            
            <br /><br />
            
            <label for="Fecha">Fecha de visita</label>
            <input class="form-control" type="date" name="Fecha" id="Fecha">
            <br /><br />
            
            <b>Puntuacion General* :</b>
            <input type="radio" name="PuntuacionGeneral" value="1" />1&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="2" />2&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="3" />3&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="4" />4&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="5" />5&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="6" />6&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="7" />7&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="8" />8&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="9" />9&nbsp;&nbsp;
            <input type="radio" name="PuntuacionGeneral" value="10" />10&nbsp;&nbsp;
            
             <br /><br /><br />
            
            <b>Servicio* :</b>
            <input type="radio" name="Servicio" value="1" />1&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="2" />2&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="3" />3&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="4" />4&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="5" />5&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="6" />6&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="7" />7&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="8" />8&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="9" />9&nbsp;&nbsp;
            <input type="radio" name="Servicio" value="10" />10&nbsp;&nbsp;
            
            <br /><br /><br />
             
            <b>Comida* :</b>
            <input type="radio" name="Comida" value="1" />1&nbsp;&nbsp;
            <input type="radio" name="Comida" value="2" />2&nbsp;&nbsp;
            <input type="radio" name="Comida" value="3" />3&nbsp;&nbsp;
            <input type="radio" name="Comida" value="4" />4&nbsp;&nbsp;
            <input type="radio" name="Comida" value="5" />5&nbsp;&nbsp;
            <input type="radio" name="Comida" value="6" />6&nbsp;&nbsp;
            <input type="radio" name="Comida" value="7" />7&nbsp;&nbsp;
            <input type="radio" name="Comida" value="8" />8&nbsp;&nbsp;
            <input type="radio" name="Comida" value="9" />9&nbsp;&nbsp;
            <input type="radio" name="Comida" value="10" />10&nbsp;&nbsp;

            <br /><br /><br />
            
            <b>Relacion Calidad Precio* :</b>
            <input type="radio" name="RelacionCalidaPrecio" value="1" />1&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="2" />2&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="3" />3&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="4" />4&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="5" />5&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="6" />6&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="7" />7&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="8" />8&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="9" />9&nbsp;&nbsp;
            <input type="radio" name="RelacionCalidaPrecio" value="10" />10&nbsp;&nbsp;
            
            <br/><br/><br/>   
            <input type="hidden" name="Usuario" value="##Usuario##">
            
            <input type="hidden"  name="IdRestaurante"  value="##IdRestaurante##"/>
            
            <input type="hidden" name="id" value="3">
            <input type="hidden" name="accion" value="valoracion">
            
            <input type="submit" class="btn btn-success pull-left" value="Añadir Comentario">
            <br><br>
            
            <div class="row text-danger">
                Todos los campos marcados con * son obligatorios
            </div>
            <br/><br/>            
        </form>
    </body>
</html>
