<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Park-Eat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" type="text/css" href="templates/estilosIndex.css" />
        <script language=javascript>
                function validarLogin(formularioLogin)
                {
                    var nombre = formularioLogin.Usuario.value;
                    if(nombre == "")
                    {
                        formularioLogin.Usuario.focus();
                        alert("Debes introducir un nombre.");
                        return false;
                    }

                    var correo = formularioLogin.Correo.value;   
                    if(correo == "")
                    {
                        formularioLogin.Correo.focus();
                        alert("Debes introducir un correo.");
                        return false;
                    }

                    return true;
                }
        </script>
    </head>
    <body>
      <nav class="navbar navbar-default margenCabecera" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">Park-Eat</a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php">Inicio</a></li>
                    <li><a href="index.php?accion=valoracion&id=1">Valoraciones</a></li>
                    <li><a href="index.php?accion=contacto&id=1">Contacto</a></li>
                </ul>
                <div class="btn-group pull-right">
                    <button type="button" id="botondesconectar" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      ##nombre## <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="index.php?accion=perfil&id=1">Perfil</a></li>
                      <li class="divider"></li>
                      <li><a href="index.php?accion=logout&id=1">Desconectar</a></li>
                    </ul>
                </div>
            </div>
      </nav>
        <div class="page-header text-center cabecera margenCabecera"> 
            <!--<img src="imagenes/Log.png" class="img-responsive img-rounded" alt="Logo Park-Eat">-->
            Modificación
        </div> 
        <div id="contenido">
            <form class="col-lg-offset-1" id="login" method="Post" action="index.php?accion=perfil&id=3">
            <h2 class="center-block">
                ¡Modifica tus datos!
            </h2>
            <br><br>
            <b class="nuevaCuenta">Modifica los datos de tu cuenta</b>
            <br>
            <hr class="col-lg-11">
            <div class="form-group col-lg-4">								    	
                <label>Nombre de usuario</label>
                <input type="text"  name="Usuario" id="Usuario" class="form-control" value="##Usuario##">

                <label>Password*</label>
                <input type="text"  name="Correo" id="Correo" class="form-control" value="##Correo##">

                <br>
                <input type="hidden" name="accion" value="perfil">
                <input type="hidden" name="id" value="3">
                
                <input type="submit" class="btn btn-success pull-left" value="Enviar">
                <input type="reset" class="btn btn-danger pull-right" value="Restablecer">
                
                <br><br>
                <div class="row text-danger">
                    Todos los campos marcados con * son obligatorios 
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-info rigth-block" onclick="window.location.href='index.php?accion=perfil&id=1'">VOLVER</button>
        </div>    
        <footer class="footer navbar-fixed-bottom" >
            <div class="container">
                <p class="text-muted margen text-center"><span>© Park-Eat 2015</span></p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>

